<label for="">Name</label>
<input type="text" name="name" value="<%=author.name %>">
<!-- here we put a current author name. If it's coming from the edit page the author is going to have a name. We can use this author variable because we created it in the New Author Route {author: new Author()} -->
