<h2>Edit Author</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="post">
  <%- include('_form_fields')%>
  <a href="/authors/<%= author.id %>">Cancel</a>
  <button type="submit">Update</button>
</form>
<!-- here we make partials because the form  input will be shared between new.ejs and edit.ejs  -->
